.row1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 285px;
    width: 100%;
}

.row1 img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.row2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 285px;
    width: 100%;
}

.row2 img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.offers {
    height: 200px;
    width: 98%;
}

.offers img {
    height: 100%;
    width: 100%;
}